<div class="app-title">
    <div>
      <h1><i class="fa fa-file"></i>&nbsp;Leaves</h1>
      <p class="pl-4">Ojas Business Suite</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
  
      <li class="breadcrumb-item active"><a href="/Dashboard">Dashboard</a></li>
    </ul>
  </div>

<div class="pull-right" style="text-decoration: none"><button class="sty" (click)="backClicked()" style="cursor: pointer;"><i
      class="fa fa-arrow-left pr-1" style="font-size: 10px"></i>Back</button> </div>
<div class="container-fluid">
  <div class="row " style="padding: 50px;">
    <div class="col-md-4 col-xs-12">
      <div class="card shadow">
        <table class="table table-striped tblmar">
          <thead style="background-color:hsl(193, 68%, 83%); padding: 10px;">
            <th style="text-align:center;"><b>Leave Balance</b></th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td>LOP</td>
              <td>1</td>
            </tr>
            <tr>
              <td>COF</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Cl</td>
              <td>1</td>
            </tr>

          </tbody>
        </table>


        <div class="btnpad">
          <a role="button" class="btn btn-block btn-sm">View Summary</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class=" card shadow">
        <table class="table table-striped tblmar" id="tble">

          <thead style="background-color:#b5e4f1;">
            <th><b>Upcoming Holidays</b></th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td style="padding: 4px,5px;"> Monday<br> Sep 2 2019</td>

              <td>Ganesh Chaturdhi</td>
            </tr>
            <tr>
              <td> Wednesday<br> oct 2 2019</td>
              <td>Gandhi Jayanthi </td>
            </tr>
            <tr>
              <td>Monday<br> oct 7 2019</td>
              <td>Maha Navami</td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow">
        <table class="table table-striped tblmar">
          <thead style="background-color:#b5e4f1;padding: 10px;">
            <th><b>Recent Transactions</b></th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td>17th may2019<br>sickleave</td>
              <td>Approved</td>
            </tr>
            <tr>
              <td>9th jul2019<br>sickleave</td>
              <td>Approved</td>
            </tr>
            <tr>
              <td>10th aug2019<br>sickleave</td>
              <td>Approved</td>
            </tr>



          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>