.len{
    padding-left: 160px;
}
p {
    font-family: Lato;
  }
  .chart{
      height: 360px;
      width: 600px;
      background-color: azure !important;
   
    
  }
  .line{
    height: 360px;
    width: 600px;
    background-color: azure !important;
    
     
  }