.app-sidebar__user{
    background-color: #1D62A7;
}

.logo_image
{
     width:100%;
    height: 60px;
}    


.app-menu__label1,.app-menu__icon1{
    color:grey;
}
a :hover{
color: #1D62A7;
}
.app-menu  .app-menu__item.active i {
    color: #1D62A7;
}
.app-menu  .app-menu__item.active{
    color: #1D62A7;
}
.app-menu  .app-menu__item.hover{
    color: #1D62A7;
}
.app-menu  .app-menu__item:hover {
    color: #1D62A7;
}
a:hover{
    text-decoration: none !important;  
}

