<br>
<div class="col-1 pull-right"><button class="sty" (click)="backClicked()"><i
      class="fa fa-arrow-left pr-1" style="font-size: 10px"></i>Back</button> </div>
<div class="container-fluid">
  <div class="row " style="padding: 50px;">
    <div class="col-md-4 col-xs-12">
      <div class="card shadow">
        <table class="table table-striped tblmar">
          <thead style="background-color:#b5e4f1; padding: 10px;">
            <th style="text-align:center;"><b>Leave Balance</b></th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td>LOP</td>
              <td>1</td>
            </tr>
            <tr>
              <td>COF</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Cl</td>
              <td>1</td>
            </tr>

          </tbody>
        </table>


        <div class="btnpad">
          <a routerLink="/rmleave" role="button" class="btn btn-block btn-sm">View Summary</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class=" card shadow">
        <table class="table table-striped tblmar" id="tble">

          <thead style="background-color:#b5e4f1;">
            <th><b>Upcoming Holidays</b></th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td style="padding: 4px,5px;"> Monday<br> Sep 2 2019</td>

              <td>Ganesh Chaturdhi</td>
            </tr>
            <tr>
              <td> Wednesday<br> oct 2 2019</td>
              <td>Gandhi Jayanthi </td>
            </tr>
            <tr>
              <td>Monday<br> oct 7 2019</td>
              <td>Maha Navami</td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card shadow">
        <table class="table table-striped tblmar">
          <thead style="background-color:#b5e4f1;padding: 10px;">
            <th><b>Recent Transactions</b></th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td>17th may2019<br>sickleave</td>
              <td>Approved</td>
            </tr>
            <tr>
              <td>9th jul2019<br>sickleave</td>
              <td>Approved</td>
            </tr>
            <tr>
              <td>10th aug2019<br>sickleave</td>
              <td>Approved</td>
            </tr>



          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row table" style="padding: 50px;">
    <div class="col-md-4 col-xs-12">
      <div class="card shadow">
        <table class="table table-striped tblmar">
          <thead style="background-color:#b5e4f1; padding: 10px;">
            <th style="text-align:center;"><b>Team Leave calender</b></th>
            <th></th>
          </thead>
          <tbody>
            <tr>
              <td>CL</td>
              <td>virat(123)<br>01 aug2019</td>
            </tr>
            <tr>
              <td>CL</td>
              <td>sachin(143)<br>01 aug2019</td>
            </tr>
            <tr>
              <td>sickleave</td>
              <td>dhoni(143)<br>01 aug2019</td>
            </tr>


          </tbody>
        </table>



      </div>
    </div>




  </div>
</div>